{% extends '@EasyAdmin/default/new.html.twig' %}

{% block entity_form %}
{{parent()}}
<style>
    .loader{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('{{asset('assets/img/process.gif')}}') 
                    50% 50% no-repeat rgb(249,249,249,0.2);
        display:none;
        }
</style>
<div class="loader" ></div>
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    <script>
        $('#new-reportgenerator-form').submit(function() {
            $('.loader').show()
            return true;
        });
    </script>
{% endblock %}